<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="board" class="com.i5.common.BoardDTO">
        <constructor-arg name="id" value="1"/>
        <constructor-arg index="1" value="스프링 수업 어떠세요"/>
        <constructor-arg index="2" value="저는 새롭고 재밌네요"/>
        <constructor-arg index="3" value="개발자꿈나무"/>
    </bean>
</beans>